* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: aliceblue;
}

body {
  font-family: "Poppins", sans-serif;;
   font-size: 20px;
   text-align: center;
}

h1 {
   font-family: 'Rancho', cursive;
   font-size: 3.5rem;
   font-weight: 400;
}

.main {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.game {
   box-shadow: 10px 5px 15px rgb(188, 106, 106);
}

.game,
form {
   background-color: #fca8b6;
   padding: 1.8rem;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.game>div {
   padding: 0.5rem;
}

.form input,
.form label,
.form button {
   margin-top: 1rem;
}

.form input,
.form button {
   font-size: inherit;
   font-family: inherit;
   padding: 0.5rem;

}

.form button {
   cursor: pointer;
   color: rgb(126, 126, 126);
   border-radius: 10px;
   border: 1px solid #ccc;

   
}

.form button:hover {
   filter: opacity(0.8);

}

 
 .top-footer,
 .bottom-footer {
   background-color: #fca8b6;
   padding: 30px;
   color: black;

}

.top-footer {
   position: fixed;
   width: 100%;
   display: flex;
  

   background-color: #fca8b6;
   padding: 20px;
   color: black;

   

}

.bottom-footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
}



.top-footer img {
   width: 54px;
   height: 54px;    
}

input[type="number"]{
   padding: 10px;
   border-radius: 10px;
   border: 1px solid ;
   margin-bottom: 10px;
   color: black;
 }

 #nome{
   cursor: pointer;
   color: rgb(126, 126, 126);
   border-radius: 10px;
   border: 1px solid #ccc;
 }